<script src= "application.js" text="text/javascript"></script>
	<div class= "content">
		<div class="content-inner">
			<!-- <div id="quiz-intro" class="text-center">
			
				<button class="start-button" type="button">START QUIZ</button>
			</div> -->

		</div>
	</div>

<div class="quiz-container">
	 

</div>


</div>
<div class="results">
	<!-- <h3>Your results:</h3> -->
	
</div>



