<script src= "application.js" text="text/javascript"></script>
	<div class= "content">
		<div class="content-inner">


			<div id="quiz-intro" class="text-center">
				<h2>who's your 2016 candidate match?</h2>
				<button class="start-button" tpye="button">START QUIZ</button>
			</div>



		</div>
	</div>


<div class="quiz-container">



<h1>What's the Difference?</h1>

<h2>Poly Sci 101 text here</h2>

<div class="quiz-container">


</div>


</div>
<div class="results">


</div>








<p>See what the 2016 Dem prez candids think...</p>
<%=link_to 'Begin Quiz', new_quiz_path %>