<h2>Poly Sci 101 text here</h2>

<div class="quiz-container">
	<p>Some text about the quiz and the 6 issues quizzes go here.</p> 
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
</div>


</div>
<div class="results">
	<h3>Your results:</h3>
	<p>(Quiz results display here)</p>
</div>














