<script src= "application.js" text="text/javascript"></script>
	<div class= "content">
		<div class="content-inner">


			<div id="quiz-intro" class="text-center">
				<h2 class="who">Who's your 2016 candidate match?</h2>
			</div>
		</div>
	</div>





<h1 class="diff">What's the Difference?</h1>

<img class="intro"src="http://www.thepridepages.com/wp-content/uploads/2013/11/senate-building.png">

<h2 class="lesson">
	The American Political system currently revolves around two different mindsets: Liberal and Conservative (or left and right, accordingly). The Democratic party is associated with holding mostly left-wing or liberal positions, while the Republican party is associated with holding mostly right wing or conservative positions. There are other positions and parties (The Green party being a famous example), but they are generally outliers with little to no impact on the current political process.
</h2>

<img class="intro"src="http://www.flagguys.com/img/poldem.gif">

<h2 class="lesson">
	For a person to be Liberal generally means that they base their worldview and political opinions towards creating the most freedom for the individual, while also protecting the rights that govern individuals' ability to act as they see fit. They see the government as a method of ensuring those freedoms remain intact, enforcing rules to ensure a general equality among all people. 
</h2>

<img class="intro"src="http://www.thenewsburner.com/wp-content/uploads/2012/09/081025_gop_logo.jpg">

<h2 class="lesson">
	For a person to be Conservative generally means that they base their worldview and political opinions towards maintaining a preestablished order, or returning society to an idea of "the way things were." In American politics, Conservatives tend to see the large, federal government (The White House, the Senate, etc.) as too much of an authority, restricting small groups of people (such as states) from self-governing as they see fit. 
</h2>

<h2 class="lesson">
	As a rule of thumb, Liberalism tends to embrace change, while Conservatives tend to avoid change. Liberals tend to favor raising taxes and using the money gained on government programs, while Conservatives tend to favor lowering taxes and letting the government take a backseat to how money and culture are handled within a country. 
</h2>
<h2 class="lesson">
	For example, a Liberal view might be to place restrictions on stock traders at Wall Street to prevent them from cheating their clients. A Conservative view might be to let the customers make their own decisions, and stop using Wall Street as customers if they find out they are being cheated, effectively letting the customers regulate the market on their own.
</h2>


<p class="intro_foot">
	Now that you understand the theory, what do you think of these big issues?
</p>
<div class="begin">
	<%=link_to 'Begin Quiz', new_quiz_path %>
</div>