this page includes the quick liberal/conservative definitions and issues "spine"  -->
<h1>What's the Difference?</h1>
<h2>Poly Sci 101 text here</h2>
<p>Liberalism 101 text here</p>
<p>Conservativism 101 text here</p>
<!-- Scroll down to issues -->

<h1>We got issues!</h1>
<!-- Economy-->
	 <!--wages-->
	 <!--taxes-->
	 <!--xyz-->

<!-- Social -->
	<!-- immigration reform-->
	<!-- healthcare -->
	<!-- women's rights -->
	<!-- gay rights -->

<!-- Environment -->
	<!--energy-->
	<!--climate change-->

<!-- Interact with any of these issues (click/hover/whatever we decide) to see what a "typical" lib or con stance would be -->

<!-- At end of issue spine: -->

<p>See what the 2016 Rep prez candids think about these issues </p>
<!-- link to the rep index page -->

<p>See what the 2016 Dem prez candids think...</p>
<!-- link to the dem index page