<!-- this page has two options: Rep or Dem -->
<h2>Which party do you want to explore?</h2>

<h3>Democratic</h3>
<h3>Republican</h3>
<!-- These two options might be buttons, or a picture of a donkey that you can interact with, whatever... -->

<!-- OR we might not need this page...if there are two links on the issues spine page instead -->