
<h1>This is the welcome/landing page</h1>

<%= link_to 'Sign up', new_voter_path%>

<!--  -->
<%=link_to 'Log In', new_session_path%></p>

<div class="hometext">
	<p>Match with candidates on the issues you 	care about most.
	</p>
</div>


	<div id="log-btn">
		<%=link_to 'Log In', login_path%>
	</div>

	<div id="sign-btn">
		<%= link_to 'Sign up', new_voter_path%>
	</div>


