<div class="welcome-wrap">
	<div class="homepage">
		<p>Match with candidates on the issues you care about most.
		</p>
		<%= flash[:alert] if flash[:alert] %>
		<div id="log-btn">
			<%=link_to 'Log In', new_session_path%>
		</div>

		<div id="sign-btn">
			<%= link_to 'Sign up', new_voter_path%>
		</div>
	</div>
</div>
