<h3 id="cands_index">Who wants to be a Commander-In-Chief?</h3>

<div class="prezboard">
	<div class="prez">
		<% @candidates.each do |c| %>

		<%=c.fname %>
		<%=c.lname %>
		<%=image_tag c.avatar.url(:medium) %>
		<% end %>
	</div>
</div>




