<h3 class="CoC">Who wants to be a Commander-In-Chief?</h3>

<div class="prezboard">
	
		<% @candidates.each do |c| %>
		<div class="prezPic">
			<%=image_tag c.avatar.url(:medium) %>
		</div>
		<div class="prezName">
			<%=c.fname %>
			<%=c.lname %>
			<p>Who is a:</p><p><%=c.party %></p>
		</div>
		<% end %>
</div>




