<h1>Who wants to be a Commander-In-Chief?</h1>


<% @candidates.each do |c| %>

<%=c.fname %>
<%=c.lname %>
<%=image_tag c.avatar.url(:medium) %>

<% end %>



<!-- If statement to use after results of quiz -->