<p>A look at: <%= @c.fname %> <%= @c.lname %></p>
<%= image_tag @c.avatar.url(:medium) %>
<p>Who is a: <%= @c.party %></p>

<p>A liberal stance on taxes is to raise the tax rate on high income brackets. Bernie Sanders is a strong proponent of this.</p>
