/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: Arial, sans-serif;
	background-image: url("../assets/flag_closeup.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
#logo {
	font-family: Lobster, cursive;
	color: #222222;
	/*color: #FFF;*/
	margin-left: 45%;
}

.homepage {
	height: 200px;
	width: 300px;
	margin: 10px auto;
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 20px;
	background-color: #222222;
	color: #fff;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}
.hometext p{
	margin-left: 1%;
	text-align: center;
	font-weight: bold;
	color: grey;

}
.results {
	width: 30%;
	height: auto;
	margin-left: 20%;
}
#log-btn {
	margin: 25px 28px;

}
#log-btn a{
	background-color: #CC000F;
	color: #fff;
	padding: 5px 25px;
	border-radius: 10px;
	margin-left: 25%;
	text-decoration: none;
}

#sign-btn a {
	background-color: #3e4149;
	color: #fff;
	padding: 5px 25px;
	border-radius: 10px;
	margin-left: 30%;
	text-decoration: none;
}
.content {
	width: 60%;
	height: auto;
	margin-left: 20%;
	background-color: #fff;
	float: right;
	border-radius: 20px;
}
.polysci {
	width: 30%;
	background-color: #fff;
float: left;
}
.quiz-text {
	width: 40%;
	background-color: #222222;
	color: #fff;
	clear: both;
	border-radius: 10px;
	height: auto;
}
.sign-up-form {
	height: 300px;
	width: 340px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 20px;
	/*margin-top: 5%;*/
	background-color: #222222;
	color: #fff;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}
.sign-up-form input {
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
}
#cands_index {
	color: cadetblue;
	width: 100px;
	margin-left: 35%;
}
.login-form {
	height: 200px;
	width: 340px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 20px;
	background-color: #222222;
	color: #fff;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}
.login-form input {
	margin: 10px;
}
.prezboard {
	width: 50%;
	margin-left: 20%
}
.candidate {
	height: auto;
	background-color: #fff;
	width: 40%;
	margin: 30px 40px;
	padding-left: 20px;
	float: left;
}
.candidate img{
	margin-left: 15%;
	border-radius: 15px;
}
.score {
	width: 40%;
	height: 100px;
	color: #fff;
	background-color: #222222;
	float: right;
}
/*.prez img {
	height:	100px;
	border-radius: 50%;
	display: inline-block;
	min-width: 70px;
	padding: 10px;
	margin-bottom: 7px;
	margin-right: 1%;
	margin-left: 1%;
	/*position: relative;*/
/*}*/
.navBar {
	width: 100%;
	/*margin-left: -2%;*/
	background-color: #222222;
	margin-top: -11%;
	height: 80px;
	margin-bottom: 5%;
	color: #fff;
}

.quiz {
	background-color: #fff;
	width: 700px;
	margin-left: 20%;
}
.quiz p {
	width: 100%;
	text-align: center;
	margin: 5px auto;
}
#instr {
	background-color: red;
	color: #fff;
}
#quiz-btn input {
	color: #fff;
	font-size: 14px;
	background-color: #0F3341;
	width: 150px;
	border-radius: 20px;
	padding: 10px 10px;
	margin-left: 30%;
}
.ans  {
	margin-left: 1%;
	width: 260px;
	display: inline-block;
	padding: 10px;
}
.ans input {
	width: 80px;
}
.ans p {
	display: inline;

}







