/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: Arial, sans-serif;
}
h2 {
	font-family: Lobster, cursive;
	color: #ef4d28;
	margin: 40px, auto;
}
.hometext {
	width: 40%;
	height: 90px;
	margin: 50px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}
.results {
	width: 30%;
	height: auto;
	border: 1px solid blue;
	margin-left: 20%;
}
#log-btn {
	/*border-radius: px;*/
	margin: 20px 20px;
}
#log-btn a{
	background-color: #3e4149;
	color: #fff;
	padding: 5px 25px;
	border-radius: 10px;
	margin-left: 45%;
	text-decoration: none;
}
#sign-btn a {
	background-color: #3e4149;
	color: #fff;
	padding: 5px 25px;
	border-radius: 10px;
	margin-left: 45%;
	text-decoration: none;


}
.quiz-container {
	width: 60%;
	height: auto;
	margin-left: 20%;
	border: 1px solid red;
	}

.sign-up-form {
	height: 200px;
	width: 200px;
	margin: 5px auto;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}
.login-form {
	height: 200px;
	width: 200px;
	margin: 5px auto;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}

footer ul{
	width: 200px;
	padding: 20px;
  	}

footer li {
	list-style-type: none; 
	display: inline-block;
	margin-left: 10%;
	margin-bottom: -4%;
	}

footer a{
	text-decoration: none; 
  	font-weight: bold;
  	margin: 45px;
  	color: #3e4149;
	}

