<!DOCTYPE html>
<html>
<head>
  <title>VoterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

</head>
<div id="header">
	<h1>Voter</h1>	
</div>
<body>

<%= yield %>
<!-- <footer>
	<ul>
	   <li><a href= "#">About</a></li>
	   <li><a href="#">Contact</a></li>
	   <li><a href="#">FAQ</a></li>
	</ul>
</footer>  -->

</body>
</html>
