<!DOCTYPE html>
<html>
<head>
  <title>VoterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<div id="header">
	<h2>Voter</h2>	
</div>
<body>

<%= yield %>
<footer>
	<ul>
	   <li><a href= "#">footer item</a></li>
	   <li><a href="#">footer Item</a></li>
	   <li><a href="#">footer Item</a></li>
	</ul>
</footer> 

</body>
</html>



