<!DOCTYPE html>
<html>
<head>
  <title>VoterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<<<<<<< HEAD
=======

<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

</head>
<div id="header">
	<h2>Voter</h2>	
</div>
<body>
>>>>>>> da1db8c1c563669deac0e22ace61b3e82e6aa045

<%= yield %>
<footer>
	<ul>
	   <li><a href= "#">About</a></li>
	   <li><a href="#">Contact</a></li>
	   <li><a href="#">FAQ</a></li>
	</ul>
</footer> 

</body>
</html>
<<<<<<< HEAD
=======

>>>>>>> da1db8c1c563669deac0e22ace61b3e82e6aa045
